<% provide(:title, "Edit dish") %>
<h1>Update your dish</h1>
<%= form_for(@dish) do |d| %> 
    <%= d.label :name %>
    <%= d.text_field :name, class:'form_control' %>
    <%= d.label :price %>
    <%= d.text_field :price, class:'form_control' %>
<% end %>